.db_btn {
    -fx-background-color: #a73;
    -fx-cursor: hand;
    -fx-font-family: "Arial";
    -fx-font-size: 15px;
    -fx-text-alignment: center;
    -fx-text-fill: #000000;
    -fx-alignment: CENTER;
    -fx-background-radius: 10;
    -fx-pref-width:200px;
    -fx-pref-height: 50px;
}

.left_pane {
    -fx-background-color: #a73;
    -fx-pref-width: 130px;
    -fx-pref-height: 600px;
}

.admin_section {
    -fx-background-color: #999;
}
/*
.table_columns {
    -fx-background-color: white;
    -fx-text-fill: black;
}
*/

.menu_bar {
    -fx-background-color: #841;
}

.anchor_pane {
    -fx-background-color: #ffffff;
}

.text_field_pane {
    -fx-background-color: #79dc05;

}

.image_view{
    -fx-background-color: yellow;
    -fx-border-color: black;
    -fx-border-width: 2;
}

.table-view{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-border-color: transparent;
    -fx-border-radius: 7px;
    -fx-border-width: 0px;
}

.table-view .column-header-background {
    -fx-background-color: #990000;
    -fx-border-width: 0px;
    -fx-border-color: transparent transparent transparent transparent; /*change the third option to add an underline to the header of the table*/
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header-background .label{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: transparent;
    -fx-background-color: grey transparent grey transparent;
}

.table-row-cell:even {
    -fx-background-color: #ffffff
}

.table-row-cell:odd {
    -fx-background-color: #f3f3f3
}

.table-view .table-cell{
    -fx-text-fill: black;
}

.table-row-cell:empty{
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent transparent transparent;
}

.table-cell:empty{
    -fx-border-color: transparent; /*gets rid of vertical lines when row is empty*/
}
/*
.table-row-cell:selected {
    -fx-background-color: #BEBEBE;
    -fx-text-background-color:  #33FF55;
}*/

.table-view:focused .table-row-cell:selected .table-cell {
    /*-fx-background-color: #BEBEBE;*/
    -fx-text-fill: #990000;
    -fx-font-weight: bold;
    -fx-border-color: transparent transparent transparent transparent;

}

.table-view .cell {
    -fx-border-color: transparent transparent grey transparent; /*outlines only horizontal lines*/
    -fx-border-width: .1px;

}

.table-view .cell:empty {
    -fx-border-color: transparent transparent transparent transparent; /*outlines only horizontal lines*/
}
